<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Template</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!--Start Header -- 1-->
    <header>
        <div class="container">
          <div class="row">
            <div class="brand-name">
                <a href="" class="logo">Dhee estroyer</a>
            </div>
            <div class="ham-burger">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="" class="active">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/project">Projects</a></li>
                    
                    <li><a href="contact/">Contact</a></li>
                </ul>
            </div>
          </div>
        </div>
    </header>
    <!-- End Header -- 1 -->

    {% block body%}
    {% endblock body%}

        <!-- Start Footer-->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        Dileep
                    </div>
                <div class="social">
                    <a href="https://github.com/dileep-hub" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/dileep-kumar-a16b691a9/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/DileepKumarSR6" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/__dileep_14/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100014534169461" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
        <!-- Start copyright-->
        <section class="copyright">
            <div class="container">
                <p>&copy; 2020 copyright | All right reserved</p>
            </div>
        </section>
    
        <!-- End copyright-->

        
        
    </body>
    </html>